extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
   h2 No instance to update  
  else
   - let monkeyanimalid = toShow._id 
   - let monkeyAge = toShow.monkeyAge 
   - let monkeyName = toShow.monkeyName 
   - let monkeyBreed = toShow.monkeyBreed 
   
   div.row(class='mb-2') 
     div.mr-1 ID is 
     div #{monkeyanimalid} 
   - let actionid = "/resource/monkeyanimal/" + monkeyanimalid
   form(id='monkeyanimalForm', action= actionid, method="PUT") 
     div.form-group 
         label.monkeyanimalAttr(for='monkeyAge') monkeyAge
         input#monkeyAge(type='number', name='monkeyAge', value= monkeyAge) 
     div.form-group 
         label.monkeyanimalAttr(for='monkeyName') monkeyName 
         input#monkeyName(type='text', name='monkeyName', value= monkeyName ) 
     div.form-group 
         label.monkeyanimalAttr(for='monkeyBreed') monkeyBreed 
         input#monkeyBreed(type='text', name='monkeyBreed', value= monkeyBreed) 
     input(type="submit") 
 
   script. 
     document.forms['monkeyanimalForm'].addEventListener('submit', (event) => { 
     event.preventDefault(); 
       // TODO do something here to show user that form is being submitted 
       fetch(event.target.action, { 
         method: 'PUT', 
         body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
       }).then((resp) => { 
         return resp.json(); // or resp.text() or whatever the server sends 
       }).then((body) => { 
         alert("Save succeded") 
         // TODO handle body 
       }).catch((error) => { 
        // TODO handle error 
         alert("Save failed " + error ) 
       }); 
     });