body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.monkeyanimalAttr {
  background-color: palevioletred;
  width: 120px;
 }
 .head_title {
  background-color: blue;
  text-align: center;
  font-style: normal;
  font-family: 'Courier New', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
 }
 .new_head {
  background-color: lightcoral;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style:Arial, Helvetica, sans-serif;
  width: 100%;
 }